.profile__add-button
{
  margin-left: auto;
  width: 150px;
  height: 50px;
  border: solid white 2px;
}
@media screen and (max-width: 768px)
{
  .profile__add-button
  {
    min-width: 75%;
    max-height: 50px;
    margin: 0 100px;
  }
}

@media screen and (max-width: 425px)
{
  .profile__add-button
  {
    min-width: 282px;
    margin: 0 19px;

  }
}
