.infoToolTip__heading {
  text-align: center;
  margin: 0 36px 60px 36px;
}
@media screen and (max-width: 425px) {
  .infoToolTip__heading {
    font-size: 20px;
    line-height: 24px;
    white-space: pre-wrap;
    margin: 0 18px 50px 18px;
  }
}
